.gc_ad_text {
  text-align: center !important;
}

.gc_ad_text input {
  margin: 10px auto;
}

.gc_ad_text button {
  margin-bottom: 20px;
}

#main {
  text-align: left;
}

#node, #node_claim {
  float: left;
}

#insentive {
  margin-bottom: 50px;
}

#ad {
  margin-top: 50px;
}
