<div>
  <b-container>
    <b-row>
      <b-col>
        <div>
          <h3>証明書への署名発行</h3>
        </div>
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <p>学生の証明書、メタデータ、及びそのハッシュ値を入力してください。</p>
        <b-form-file
          id="cert"
          v-model="cert"
          :state="Boolean(cert)"
          placeholder="証明書をアップロードしてください"
          drop-placeholder="証明書をドラッグ＆ドロップしてください"
        />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-file id="meta"
          v-model="meta" :state="Boolean(cert)" placeholder="メタデータをアップロードしてください"
          drop-placeholder="メタデータをドラッグ＆ドロップしてください" />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-input v-model="hash" type="text" placeholder="ハッシュ値を入力してください" />
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <b-form-input type="text" v-model="redeemScript" placeholder="Redeem Script を入れてください" />
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <b-form-input type="text" v-model="txid" placeholder="学生が作成したトランザクションのIDを入れてください" />
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <b-form-input type="text" v-model="email" placeholder="学生のemailを入れてください" />
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <b-button ref="submit" type="submit" class="btn btn-success" v-on:click="sign">署名する</b-button>
      </b-col>
    </b-row>
  </b-container>
</div>
