<div>
  <b-container>
    <b-row>
      <b-col>
        <h4>ウォレットの管理</h4>
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <h5>ウォレット情報</h5>
        アドレス: <a :href="address">{{ address }}</a> <br>
        残高: {{ balance }} BCH <br>
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <template v-if="getAccountType() == 'student'">
          <router-link to="/student/request?hash=679f02ca9d9c789175af3a75dd6b88d5c05f734f0abfe3b61ed9178175f11152&address=bitcoincash:qqlqejqa47kxt0kyyal9zzd0aejjlh60jvea5m6ez5&email=m@jiyu.green" class="btn btn-success">証明書の登録を大学に請求する</router-link>
        </template>
        <template v-else-if="getAccountType() == 'university'">
          <router-link to="/university/sign" class="btn btn-success">証明書への署名発行</router-link>
        </template>
        <template v-else-if="getAccountType() == 'company'">
          <router-link to="/company/request" class="btn btn-success">証明書の署名を学生に要求する</router-link>
        </template>
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col class="wif_file">
        <b-form-file
          id="wif_file"
          v-model="wif_file"
          :state="Boolean(wif_file)"
          placeholder="WIFからウォレット作成"
          drop-placeholder="WIFをドラッグ＆ドロップしてください"
        />
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <b-button class="btn btn-info" v-on:click="exportWIF">WIFでウォレットをバックアップ</b-button>
      </b-col>
    </b-row>

    <b-row class="input_fields">
      <b-col>
        <b-button v-on:click="resetWallet">ウォレットを作り直す</b-button>
      </b-col>
    </b-row>
  </b-container>
</div>
