<div>
  <b-container>
    <b-row>
      <b-col>
        <div class="latest">
          <h4>ウォレット情報</h4>
        </div>
      </b-col>
    </b-row>

    アドレス: {{ address }} <br>
    残高: {{ balance }} BCH <br>

    <input type="text" v-model="wif">
    <button v-on:click="importFromWIF()">Import from WIF</button> <br>

    <button v-on:click="resetWallet()">Reset Wallet</button>

    <b-row>
      <b-col>
        <div class="notify" id="notify"></div>
      </b-col>
    </b-row>
  </b-container>
</div>
