<div>
  <b-container>
    <b-row>
      <b-col>
        <div class="latest">
          <h3>Student Sign</h3>
        </div>
      </b-col>
    </b-row>

    <input type="text" v-model="redeemScript" placeholder="Redeem Script">
    <input type="text" v-model="certTxid" placeholder="cert txid">
    <input type="text" v-model="txid" placeholder="txid">
    <input type="text" v-model="mail" placeholder="mail address"><br>
    <button v-on:click="sign">Sign tx</button><br>

    <b-row>
      <b-col>
        <div class="notify" id="notify"></div>
      </b-col>
    </b-row>
  </b-container>
</div>
