<div>
  <b-container>

    <img :src="image">
    <b-row class="input_fields">
      <b-col>
        <h4>証明書の登録を大学に請求する</h4>
        <p>大学から受け取った証明書、メタデータ、及びそのハッシュ値を入力してください。</p>
        <b-form-file
          id="cert"
          v-model="cert"
          :state="Boolean(cert)"
          placeholder="証明書をアップロードしてください"
          drop-placeholder="証明書をドラッグ＆ドロップしてください"
        />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-textarea
          ref="meta"
          v-model="meta"
          placeholder="メタデータを入力してください"
          rows="5"
          max-rows="6"
        />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-input ref="hash" v-model="hash" type="text" placeholder="ハッシュ値を入力してください" />
      </b-col>
    </b-row>
  </b-container>
</div>
