<div>
  <b-container>
    <b-row class="input_fields">
      <b-col>
        <h4>証明書の登録を大学に請求する</h4>
        <p>大学から受け取った証明書、メタデータ、及びそのハッシュ値を入力してください。</p>
        <b-form-file
          id="cert"
          v-model="cert"
          :state="Boolean(cert)"
          placeholder="証明書をアップロードしてください"
          drop-placeholder="証明書をドラッグ＆ドロップしてください"
        />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-file id="meta"
          v-model="meta" :state="Boolean(cert)" placeholder="メタデータをアップロードしてください"
          drop-placeholder="メタデータをドラッグ＆ドロップしてください" />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-input v-model="hash" type="text" placeholder="ハッシュ値を入力してください" />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-input v-model="address" type="text" placeholder="大学のBCHアドレスを入力してください" />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-form-input v-model="mail" type="text" placeholder="大学のメールアドレスを入力してください" />
      </b-col>
    </b-row>
    <b-row class="input_fields">
      <b-col>
        <b-button ref="submit" type="submit" class="btn btn-success" v-on:click="verifyAndSend">依頼する</b-button>
      </b-col>
    </b-row>
  </b-container>
</div>
