#footer {
  margin-bottom: 3vh;
}


.links {
  margin-top: 3vh;
}

.links a {
  margin-left: 5px;
  margin-right: 5px;
}

.links a {
  color: white !important;
  font-size: 2.7vw;
  margin-top: 1vh;
}
